In [2]:
import pandas as pd

#### Q1.
mpg 데이터의 category는 자동차를 특징에 따라 'suv', 'compact' 등 일곱 종류로 분류한 변수입니다.  
어떤 차종의 도시 연비가 높은지 비교해 보려고 합니다.  
category별 cty 평균을 구해보세요.

In [3]:
mpg = pd.read_csv('mpg.csv')
mpg.groupby('category') \
    .agg(cty_mean=('cty', 'mean'))

             cty_mean
category
2seater     15.400000
compact     20.127660
midsize     18.756098
minivan     15.818182
pickup      13.000000
subcompact  20.371429
suv         13.500000

#### Q2.
앞 문제의 출력 결과는 category 값 알파벳순으로 정렬되어 있습니다.  
어떤 차종의 도시 연비가 높은지 쉽게 알아볼 수 있도록 cty 평균이 높은 순으로 정렬해 출력하세요.

In [4]:
mpg.groupby('category') \
    .agg(cty_mean=('cty', 'mean')) \
    .sort_values('cty_mean', ascending=False)

             cty_mean
category
subcompact  20.371429
compact     20.127660
midsize     18.756098
minivan     15.818182
2seater     15.400000
suv         13.500000
pickup      13.000000

#### Q3.
'어떤 회사 자동차의 hwy(고속 도로 연비)가 가장 높은지 알아보려고 합니다.  
hwy 평균이 가장 높은 회사 세곳을 출력하세요.

In [6]:
mpg.groupby('manufacturer') \
    .agg(hwy_mean=('hwy', 'mean')) \
    .sort_values('hwy_mean', ascending=False) \
    .head(3)

               hwy_mean
manufacturer
honda         32.555556
volkswagen    29.222222
hyundai       26.857143

#### Q4.
어떤 회사에서 'compact' 차종을 가장 많이 생산하는지 알아보려고 합니다.  
회사별 'compact' 차종 수를 내림차순으로 정렬해 출력하세요.

In [12]:
mpg.query('category == "compact"') \
    .groupby('manufacturer') \
    .agg(compact_count=('manufacturer', 'count')) \
    .sort_values('compact_count', ascending=False)

              compact_count
manufacturer
audi                     15
volkswagen               14
toyota                   12
subaru                    4
nissan                    2

In [13]:
mpg.query('category == "compact"') \
    .value_counts('manufacturer')

manufacturer
audi          15
volkswagen    14
toyota        12
subaru         4
nissan         2
dtype: int64