In [1]:
import pandas as pd

#### Q1.

mpg 데이터는 11개 변수로 구성됩니다. 이 중 일부만 추출해 분석에 활용하려고 합니다.  
mpg 데이터에서 category(자동차 종류), cty(도시 연비) 변수를 추출해 새로운 데이터를 만드세요.  
새로 만든 데이터의 일부를 출력해 두 변수로만 구성되어 있는지 확인하세요.

In [4]:
df = pd.read_csv('mpg.csv')
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [6]:
new_data = df[['category', 'cty']]
new_data.head()

  category  cty
0  compact   18
1  compact   21
2  compact   20
3  compact   21
4  compact   16

#### Q2.
자동차 종류에 따라 도시 연비가 어떻게 다른지 알아보려고 합니다.  
앞에서 추출한 데이터를 이용해 category(자동차 종류)가 'suv'인 자동차와 'compact'인 자동차 중 어떤 자동차의 cty(도시 연비) 평균이 더 높은지 알아보세요.

In [7]:
new_data.query('category == "suv"')['cty'].mean()

13.5

In [8]:
new_data.query('category == "compact"')['cty'].mean()

20.127659574468087