In [27]:
import pandas as pd
import numpy as np

Q1  
자동차 배기량에 따라 고속도로 연비가 다른지 알아보려고 합니다.  
displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 어떤 자동차의 hwy(고속도로 연비) 평균이 더 높은지 알아보세요.

In [28]:
df = pd.read_csv('mpg.csv')
df.tail()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [29]:
data1 = df.query('displ <= 4')
data2 = df.query('displ >= 5')

In [30]:
data1['hwy'].mean()

25.96319018404908

In [31]:
data2['hwy'].mean()

18.07894736842105

In [32]:
data1['hwy'].mean() > data2['hwy'].mean()

True

Q2  
자동차 제조 회사에 따라 도시 연비가 어떻게 다른지 알아보려고 합니다. 'audi'와 'toyota' 중 어느 manufacturer(자동차 제조 회사)의 cty(도시 연비) 평균이 더 높은지 알아보세요.

In [33]:
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [34]:
audi = df.query('manufacturer == "audi"')
toyota = df.query('manufacturer == "toyota"')

In [35]:
audi['cty'].mean()

17.61111111111111

In [36]:
toyota['cty'].mean()

18.529411764705884

Q3  
'chevrolet', 'ford', 'honda' 자동차의 고속도로 연비 평균을 알아보려고 합니다.  
세 회사의 데이터를 추출한 다음 hwy 전체 평균을 구해 보세요.

In [37]:
df.query('manufacturer in ["chevrolet", "ford", "honda"]')['hwy'].mean()

22.50943396226415